<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间 可以通过 namespace+id 来执行SQL语句-->
<mapper namespace="com.xixiyoyo2.dao.OrderMapper">
  <resultMap id="orderMap" type="order">
<!--    手动指定字段与实体属性的映射关系
        column：数据表的字段名称
        property：实体的属性名称
-->
    <id column="oid" property="oid"></id>
    <result column="stime" property="stime"></result>
    <result column="total" property="total"></result>
    <result column="id" property="users.id"></result>
    <result column="name" property="users.name"></result>
    <result column="password" property="users.password"></result>
    <result column="age" property="users.age"></result>
    <result column="role" property="users.role"></result>

  </resultMap>
  <select id="findOrder" resultMap="orderMap">
    select * from orders ,users where orders.uid = users.id
  </select>

</mapper>
